body{
  background-image: linear-gradient(rgba(201,5,158,0.63),rgba(0,0,0,0.7)), url(images/login.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;

}

.login-page{
  width: 360px;
  padding: 9% 0 0;
  margin: auto;
}

.form{
  position: relative;
  z-index: l;
  background: rgba(7, 40, 195, 0.8);
  max-width: 360px;
  margin: 800 auto 100px;
  padding: 45px;
  text-align: center;

}

.form input{
  font-family: "Roboto" , sans-serif;
  outline: 1;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

.form button{
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background-color: #04a5f0;
  width: 100%;
  border: 0;
  padding: 10px;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.form button:hover, .form button:active{
  background: #4caf50;
  
}

.form .message{
  margin: 10px 0 0;
  color: aliceblue;
  font-size: 12px;
}

.form .message a{
  color: aliceblue;
  text-decoration: none;
}

.error_text{
  color: white;
  font-weight: bold;
}

/*===Nav Links===*/
.logo{
  color: #04a5f0;
}

.navbar-toggler{
  outline: none!important;
}

.toggler-icon{
  font-size: 30px;
  color: #04a5f0;
}

.nav-link{
  color: #04a5f0;
  transition: all 1s ease-in-out;
  font-size:  20px;
}

.nav-link:hover{
  color: #000;
  /*font-weight: bold;*/
}

.app{
  color: rgb(9, 228, 9);
}
.nav-info{
  font-size: 20px;
  color: rgba(71, 68, 68, 0.829);
}
/*===End of Navbar===*/

#loginnav{
    background-color: #ffffff;
}
#n{
  margin-left: 10%;
}
#logb{
  margin-top: 2%;
}

#googlelogincolor{
   color: #ffffff;
}


